body{

background:#0b1a2b;
color:white;

font-family:Montserrat;

text-align:center;

margin:0;

}


header{

background:#d91f26;

padding:20px;

box-shadow:0 5px 15px rgba(0,0,0,.4);

}

header h1{

margin:0;
font-size:40px;

}

header p{

margin:5px 0 0;
opacity:.8;

}


.scoreboard{

display:flex;

justify-content:center;

gap:80px;

margin-top:50px;

flex-wrap:wrap;

}


.team input{

font-size:22px;

border:none;

background:transparent;

color:white;

text-align:center;

margin-bottom:20px;

font-weight:bold;

}


.flip-container{

perspective:1000px;

}


.card{

width:200px;

height:200px;

position:relative;

transform-style:preserve-3d;

transition:transform .6s;

}


.card.flip{

transform:rotateX(180deg);

}


.card div{

position:absolute;

width:100%;

height:100%;

display:flex;

align-items:center;

justify-content:center;

font-size:120px;

background:#162b45;

border-radius:10px;

}


.top{

backface-visibility:hidden;

}

.bottom{

transform:rotateX(180deg);

background:#1f3a60;

}


.buttons{

margin-top:20px;

}


button{

padding:10px 25px;

font-size:20px;

margin:5px;

border:none;

background:#d91f26;

color:white;

cursor:pointer;

border-radius:5px;

transition:.2s;

}

button:hover{

background:#ff3a41;

}


.controls{

margin-top:50px;

}